<hr class="container my-3">
<section class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <section class="container">
        <div class="row justify-content-between align-items-center g-4">
            <div class="col-12 col-lg-5">
                <aside class="ratio ratio-16x9"><img src="https://picsum.photos/1080" alt="about"
                        class="object-fit-cover rounded"></aside>
            </div>
            <div class="col-12 col-lg-6">
                <aside class="d-flex flex-column gap-3 ">
                    <h1 class="display-5 sand">About us</h1>
                    <p class="text-secondary pop">{{store.public.about.heading}}</p>
                    <div class="d-flex gap-2 slab">
                        <a href="/contact" class="btn-fill px-3 py-1">Contact us</a>
                        <a href="/about" class="btn-outline px-3 py-1">Learn more</a>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</section>