<header class="w-100 p-3 d-flex justify-content-between align-items-center bg-light shadow-sm">
    <section class="d-flex gap-3 align-items-center">
        <img src="/logo.png" alt="logo" width="40" class="rounded-circle border object-fit-cover">
        <a href="/"><h5 class="sand fs-5">Femathletic Fitness Club</h5></a>
    </section>
    <nav class="d-none d-lg-flex gap-3 align-items-center slab">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>

        <div class="d-flex gap-1 align-items-center ls-1">
            <a href="/signup" class="btn-outline px-3 py-1">Create account</a>
            <a href="/login" class="btn-fill px-3 py-1">Login</a>
        </div>
    </nav>
    <aside class="d-block d-lg-none">

        <i class="bi bi-three-dots-vertical text-danger fs-4" data-bs-toggle="dropdown"></i>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Home</a></li>
            <li><a class="dropdown-item" href="/about">About</a></li>
            <li><a class="dropdown-item" href="/services">Services</a></li>
            <li><a class="dropdown-item" href="/contact">Contact</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <div class="d-flex gap-2 flex-column p-2 text-center ls-1">
                <a href="/signup" class="btn-outline px-3 py-1">Create account</a>
                <a href="/login" class="btn-fill px-3 py-1">Login</a>
            </div>

        </ul>
    </aside>

</header>