<section class="container py-3" style="overflow-x: hidden !important;">
    <div class="row g-3 justify-content-between">
        <div class="col-12 col-lg-6">
            <aside class="d-flex flex-column gap-3 pt-5">
                <div class="pop d-flex flex-column gap-1">
                    <h5 class="fs-5">Femathletic Fitness Center</h5>
                    <p class="text-secondary fs-smaller slab text-fade2">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium aliquid amet adipisci
                        minus deleniti vitae.
                    </p>
                </div>
                <nav class="d-flex flex-column pop gap-1">
                    <a href="/" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">Home Page</span>
                    </a>
                    <a href="/about" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">About Us</span>
                    </a>
                    <a href="/services" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">Our Services</span>
                    </a>
                    <!-- <a href="" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">FAQ</span>
                    </a> -->
                </nav>
            </aside>
        </div>
        <div class="col-12 col-lg-3">
            <aside class="fc-100 d-flex flex-column gap-3 pt-5">
                <div class="pop d-flex flex-column gap-1">
                    <h5 class="fs-5">Get Started</h5>
                    <p class="text-secondary fs-smaller slab text-fade2">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, nam.
                    </p>
                </div>
                <nav class="d-flex flex-column pop gap-1">
                    <a href="/signup/" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">Create New Account</span>
                    </a>
                    <a href="/login/" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">Login to your account</span>
                    </a>
                    <!-- <a href="" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">Careers</span>
                    </a> -->
                    <a href="/contact/" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">Contact</span>
                    </a>
                </nav>
            </aside>
        </div>
        <div class="col-12 col-lg-3">
            <aside class="fc-100 d-flex flex-column gap-3 pt-5">
                <div class="pop d-flex flex-column gap-1">
                    <h5 class="fs-5">Our Policies</h5>
                    <p class="text-secondary fs-smaller slab text-fade2">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, rem?
                    </p>
                </div>
                <nav class="d-flex flex-column pop gap-1">
                    
                    <a href="" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">Terms and Conditions</span>
                    </a>
                    <a href="" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">Privacy Policy</span>
                    </a>
                    <a href="" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">Refund Policy</span>
                    </a>
                    <!-- <a href="" class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-danger" style="font-size: 1.2rem !important;">link</span>
                        <span class="">Our Rules</span>
                    </a> -->
                </nav>
            </aside>
        </div>
    </div>
    <hr class="container my-4 fc-100">
    <div class="row g-4 justify-content-between pb-5">
        <div class="col-12 col-md-6 col-lg-4 order-2 order-lg-1">
            <h5 class="pop text-center text-secondary text-md-start">Connect with us</h5>
        </div>
        <div class="col-12 col-md-6 col-lg-4 order-1 order-lg-2">
            <nav class="d-flex gap-3 justify-content-center justify-content-md-end text-secondary fs-5">
                <a :href="store.public.contact.instagram"><i class="bi bi-instagram"></i></a>
                <a :href="store.public.contact.waNumber"><i class="bi bi-whatsapp"></i></a>
                <a :href="'mailto:'+store.public.contact.email"><i class="bi bi-envelope"></i></a>
                <a :href="store.public.contact.facebook"><i class="bi bi-facebook"></i></a>
                <a :href="store.public.contact.linkedIn"><i class="bi bi-linkedin"></i></a>
            </nav>
        </div>
        <!-- <hr> -->
        <!-- <div class="col-12">
            <p class="text-center text-secondary pop fs-x-small pt-5">Developed By Libancode</p>
        </div> -->
    </div>
</section>